
// scss-docs-start color-variables
$blue:    #5156be;
$indigo:  #564ab1;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #fd625e;
$orange:  #f1734f;
$yellow:  #ffbf53;
$green:   #2ab57d;
$teal:    #050505;
$cyan:    #4ba6ef;